@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Jost:wght@300;500&family=Lato:wght@100;300;400&family=Montserrat:wght@300;400;500;700&display=swap");
:root {
  --primary-color: rgb(15, 15, 44);
  --text-color: rgb(250, 250, 250);
  --secondary-color: rgb(87, 87, 252);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
}

/* header styles*/

.brand-link {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Charmonman", cursive, "Jost", sans-serif, "Lato", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--primary-color);
}

.fixed {
  position: fixed;
  top: 0;
  height: 65px;
  max-width: 1280px;
  background: var(--primary-color);
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
  padding: 8px;
  font-weight: bold;
}

.link:hover {
  border-bottom: 2px solid var(--secondary-color);
  cursor: pointer;
}

.menu-button {
  display: none;
  position: fixed;
  height: 30px;
  width: 30px;
  right: 20px;
}

.menu-button:hover {
  cursor: pointer;
}

.navbar-mobile {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  top: 65px;
}

@media (max-width: 900px) {
  .link {
    font-size: 0.8rem;
    padding: 8px;
  }
}

@media (max-width: 750px) {
  .brand-link {
    font-size: 1.5rem;
  }
  .menu-button {
    display: flex;
  }

  .navbar {
    display: none;
  }

  .navbar-mobile {
    background-color: var(--primary-color);
    opacity: 0.8;
    width: 100%;
  }
  .link {
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    padding: 8px;
    font-weight: bold;
    font-size: 1rem;
  }

  .link:hover,
  .link:active {
    border: none;
    border-right: 2px solid var(--secondary-color);
  }
}

/* hero styles*/
.hero-container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 0 0 auto;
  padding: 20px;
}

.brief-container {
  max-width: 600px;
}

.hello {
  font-weight: bold;
  font-size: 2.2rem;
  display: inline-block;
  margin: 0;
  padding: 5px 0;
}

.hello-span {
  color: var(--secondary-color);
}

.subtitle {
  font-size: 1.2rem;
  margin: 0;
}

.misc-text {
  word-spacing: 1px;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.596);
  margin-bottom: 2rem;
}

.contact-me-btn {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.6rem;
  outline: 2px solid var(--secondary-color);
  transition: all 0.2s ease-in-out;
  margin-right: 0.5rem;
}

.resume-btn {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.6rem;
  outline: 2px solid var(--text-color);
  transition: all 0.2s ease-in-out;
}

.resume-btn:hover {
  color: var(--secondary-color);
  outline: 2px solid var(--secondary-color);
  background-color: var(--text-color);
}

.contact-me-btn:hover {
  outline: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.hero-image {
  height: 550px;
  width: 550px;
}

@media (max-width: 1150px) {
  .hero-image {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 1100px) {
  .hello {
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 1rem;
  }

  .misc-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 855px) {
  .hero-container {
    margin-top: 6rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .brief-container {
    max-width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  .hero-container {
    margin-top: 4rem;
  }
  .hero-image {
    height: 320px;
    width: auto;
    margin-bottom: 2rem;
  }
  .hello {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }

  .misc-text {
    font-size: 0.8rem;
  }
  .contact-me-btn,
  .resume-btn {
    width: 150px;
    font-size: 1rem;
    margin: 0.5rem;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* about styles*/

hr {
  margin-top: 2rem;
  border: none;
  height: 2px;
  background-color: var(--secondary-color);
}

.section-header {
  text-align: center;
  margin: 2.5rem 0;
}

.section-subheading {
  margin-top: 5rem;
}
.section-paragraph {
  margin: 0 auto;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 1.2rem;
  max-width: 950px;
  border-left: 2px solid var(--secondary-color);
}

.section-paragraph span {
  color: var(--secondary-color);
}

@media (max-width: 750px) {
  .section-paragraph {
    font-size: 1rem;
  }
}

/* project styles */

.card-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  max-width: 550px;
  height: auto;
  margin-bottom: 3rem;
  outline: 2px solid var(--text-color);
}
.card-header {
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
}
.project-title {
  color: var(--text-color);
  margin: 0;
  padding: 15px 5px;
}

.card-body {
  padding: 20px;
}

.tool-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.project-tool {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 8px;
  border-radius: 20px;
  outline: 2px solid var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.project-description {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

.link-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.deployed-url {
  background: var(--text-color);
  color: var(--secondary-color);
  border-left: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  padding: 10px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0.5rem;
}

.deployed-url:hover {
  background: var(--secondary-color);
  border-left: 4px solid var(--text-color);
  border-bottom: 4px solid var(--text-color);
  color: var(--text-color);
}

.src-url {
  background: var(--secondary-color);
  color: var(--text-color);
  border-left: 4px solid var(--text-color);
  border-bottom: 4px solid var(--text-color);
  padding: 10px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0.5rem;
}

.src-url:hover {
  background: var(--text-color);
  border-left: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  color: var(--secondary-color);
}

@media (max-width: 1150px) {
  .card {
    max-width: 450px;
  }
}

@media (max-width: 960px) {
  .card {
    max-width: 600px;
  }
}
@media (max-width: 550px) {
  .project-title {
    font-size: 1.3rem;
  }
  .project-tool {
    font-size: 0.9rem;
    padding: 5px;
  }
  .project-description {
    font-size: 1rem;
  }
  .deployed-url,
  .src-url {
    text-align: center;
    font-size: 0.9rem;
    padding: 5px;
    width: 140px;
  }
}

/* skills styles */

.img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;
  margin: 1rem 0.5rem;
}

.skills-img {
  width: 60px;
  height: 60px;
  padding: 5px;
  outline: 2px solid var(--secondary-color);
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.img-title {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* contact me styles */

form {
  margin-bottom: 5rem;
}

.input-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.input {
  width: 94%;
  font-family: "Montserrat", sans-serif;
  display: block;
  color: var(--secondary-color);
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: var(--text-color);
  outline: 2px solid var(--secondary-color);
  border: none;
}

.message {
  width: 94%;
  font-family: "Montserrat", sans-serif;
  display: block;
  color: var(--secondary-color);
  padding: 10px;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
  background-color: var(--text-color);
  outline: 2px solid var(--secondary-color);
  resize: none;
}

.input:hover,
.input:focus,
.message:hover,
.message:focus {
  outline: 3px solid var(--secondary-color);
}

::placeholder {
  color: var(--secondary-color);
  font-weight: 500;
}
:-ms-input-placeholder {
  color: var(--secondary-color);
  font-weight: 500;
}
::-ms-input-placeholder {
  color: var(--secondary-color);
  font-weight: 500;
}

.submit-btn {
  width: 46%;
  font-family: "Montserrat", sans-serif;
  display: block;
  color: var(--text-color);
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  outline: 2px solid var(--text-color);
  transition: all 0.2s ease-in-out;
  border: none;
}

.submit-btn:hover {
  cursor: pointer;
  outline: 2px solid var(--secondary-color);
}

/* footer styles */
.links-heading {
  font-weight: bold;
  margin-bottom: 1rem;
}

.links-container {
  max-width: 700px;
  margin:0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.links-container > div {
  display: flex;
  margin-right: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
}

.footer-link {
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: lighter;
}

.copyright {
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}
